[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
gunicorn = "*"
numpy = "*"
scikit-learn = "==01.4.2"
flask = "*"

[dev-packages]
awsebcli = "*"

[requires]
python_version = "3.11"
